/*-----------------------------------*\
  #RESET PROPERTIES
\*-----------------------------------*/
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
/*-----------------------------------*\
  #custom properties
\*-----------------------------------*/

:root {
  --gray: hsl(0, 0%, 53%);
  --teal-blue: #029c9c;
  --silver: hsl(0, 0%, 69%);
  --yellow: hsl(47, 98%, 50%);
  --drak-gray: hsl(0, 0%, 40%);
  --independence: hsl(219, 20%, 32%);
  --spanish-gray: hsl(0, 0%, 61%);
  --oxford-blue: hsl(222, 46%, 17%);
  --black-coral: hsl(223, 8%, 44%);
  --eerie-black: hsl(210, 11%, 15%);
  --light-gray: hsl(0, 0%, 80%);
  --white-2: hsl(0, 0%, 98%);
  --white-1: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --jet: hsl(0, 0%, 20%);
}
/*-----------------------------------*\
  #header
\*-----------------------------------*/
.header-nav {
  font-family: "Heebo", sans-serif;
  background-color: var(--teal-blue);
  padding: 1.6rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  display: flex;
  /* align-items: center; */
}
.header-nav .title {
  color: var(--white-1);
  font-weight: 700;
  font-size: 1.78em;
  align-self: center;
}
.navigation li {
  position: relative;
  margin-right: 3.5rem;
  color: var(--white-1);
  font-weight: 700;
  font-size: 1.15em;
  cursor: pointer;
}
.navigation li:hover::after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--white-1);
}
.header-nav .booking-btn {
  background-color: var(--white-2);
  padding: 12px 22px;
  border-radius: 4px;
  color: var(--teal-blue);
  cursor: pointer;
}
.booking-btn:hover {
  background-color: var(--teal-blue);
  font-weight: 700;
  color: var(--white-1);
  outline: 1.5px solid var(--white-1);
}
.booking-btn .button {
  font-weight: 700;
}
/*-----------------------------------*\
  # HERO
\*-----------------------------------*/

.hero {
  padding-bottom: 20px;
}
.banner img {
  width: 34rem;
}
.banner .shape {
  width: 4rem;
}
.hero .grid-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 3rem;
  gap: 5rem;
}
.hero .banner {
  position: relative;
}
.hero .banner .shape-1 {
  position: absolute;
  top: 0;
  left: 0;
}
.hero .banner .shape-2 {
  position: absolute;
  right: -25px;
  top: 80px;
}
.hero .banner .shape-3 {
  position: absolute;
  bottom: 130px;
  left: -150px;
}
.hero .banner .shape {
  animation: rotation 3s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(365deg);
  }
}
.hero .info {
  margin-bottom: 60px;
}
.hero .grid-list .info > * {
  margin-bottom: 30px;
}
.hero .info h5 {
  font-family: "Abril Fatface", cursive;
  font-size: 2em;
  font-weight: 100;
}
.hero .info h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 4em;
  font-weight: 300;
}
.hero .info p {
  font-family: "Heebo", sans-serif;
  color: var(--spanish-gray);
}

.info .button {
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
}
.info .button .cont-btn,
.info .button .more-btn {
  padding: 12px 22px;
  font-weight: 700;
}
.info .button .cont-btn {
  background-color: var(--teal-blue);
  color: var(--white-1);
  border: 2px solid var(--teal-blue);
  border-radius: 6px;
}
.info .button .cont-btn:hover,
.info .button .more-btn:hover {
  background-color: var(--white-1);
  color: var(--teal-blue);
  border: 2px solid var(--teal-blue);
  cursor: pointer;
}

.info .button .more-btn {
  border: 2px solid var(--spanish-gray);
  border-radius: 6px;
}

/* DISTIANTION SECTION */

.destination-section .des-warp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 22px 0;
}
.destination-section {
  width: 85vw;
  margin-inline: auto;
}
.destination-section .des-warp > * {
  padding-bottom: 2.5rem;
  font-family: "Abril Fatface", cursive;
}
.destination-section > * {
  padding-bottom: 2.5rem;
  font-family: "Abril Fatface", cursive;
}

.destination-section .des-warp .dest-name {
  font-size: 1.5em;
  font-style: italic;
  font-weight: 300;
}

.destination-section .des-warp .selection {
  font-size: 2.5em;
}

.destination-section .grid-list-column .images1,
.destination-section .grid-list-column .images2 {
  width: 530px;
  height: max-content;
  overflow: hidden;
}
.grid-list-column {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr;
}
/*  */
.destination-section .grid-list-three-column .images {
  width: 350px;
  height: max-content;
}
.grid-list-three-column {
  display: grid;
  column-gap: 10px;
  grid-template-columns: auto auto auto;
}

.destination-section .grid-list-column .images1 img,
.destination-section .grid-list-column .images2 img {
  width: 100%;
  object-fit: cover;
}
.destination-section .grid-list-column .images1 img:hover,
.destination-section .grid-list-column .images2 img:hover,
.destination-section .grid-list-three-column .images img:hover {
  transition: 0.15s ease-in;
  transform: scale(1.01);
}

.destination-section .grid-list-three-column .images img {
  width: 100%;
  overflow: hidden;
}
