/*-----------------------------------*\
  #RESET PROPERTIES
\*-----------------------------------*/
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
/*-----------------------------------*\
  #custom properties
\*-----------------------------------*/

:root {
  --gray: hsl(0, 0%, 53%);
  --teal-blue: #029c9c;
  --silver: hsl(0, 0%, 69%);
  --yellow: hsl(47, 98%, 50%);
  --drak-gray: hsl(0, 0%, 40%);
  --independence: hsl(219, 20%, 32%);
  --spanish-gray: hsl(0, 0%, 61%);
  --oxford-blue: hsl(222, 46%, 17%);
  --black-coral: hsl(223, 8%, 44%);
  --eerie-black: hsl(210, 11%, 15%);
  --light-gray: hsl(0, 0%, 80%);
  --white-2: hsl(0, 0%, 98%);
  --white-1: hsl(0, 4%, 84%);
  --black: hsl(0, 0%, 0%);
  --jet: hsl(0, 0%, 20%);
}
/*-----------------------------------*\
  #header
\*-----------------------------------*/
body {
  font-family: "PT Serif", serif;
  background-color: white;
}
.header-nav {
  font-family: "PT Serif", serif;
  background: var(--oxford-blue);
  padding: 1.6rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  display: flex;
  /* align-items: center; */
}
.header-nav .title {
  color: var(--white-1);
  font-weight: 700;
  font-size: 1.78em;
  align-self: center;
}
.navigation li {
  position: relative;
  margin-right: 3.5rem;
  color: var(--white-1);
  font-weight: 700;
  font-size: 1.15em;
  cursor: pointer;
}
.navigation li:hover::after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--white-1);
}
.header-nav .booking-btn {
  background-color: var(--white-2);
  padding: 12px 22px;
  border-radius: 4px;
  color: var(--oxford-blue);
  cursor: pointer;
}
.booking-btn:hover {
  background-color: var(--oxford-blue);
  font-weight: 700;
  color: var(--white-1);
  outline: 1.5px solid var(--white-1);
}
.booking-btn .button {
  font-weight: 700;
}
/*-----------------------------------*\
  # HERO
\*-----------------------------------*/

.hero {
  padding-bottom: 20px;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: rgb(86, 88, 94, 0.75);
}
.video {
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.hero .grid-list {
  height: inherit;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 3rem;
  gap: 5rem;
}

.hero .info {
  /* margin-bottom: 60px; */

  align-self: center;
}

.hero .info h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 4em;
  font-weight: 300;
  color: var(--white-2);
}
.hero .grid-list .info {
  border-radius: 60px;
  padding: 20px;
  text-align: center;
  border: 2px solid white;
}
/*  */
/*  */

/* DISTIANTION SECTION */

.destination-section .des-warp,
.tours-section .title-tour,
.why-section .title-why {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 22px 0;
}
.destination-section,
.tours-section,
.why-section,
.testamanial-section,
.footer-top,
hr,
.footer-bottom {
  width: 85vw;
  margin-inline: auto;
}
.destination-section .des-warp > * {
  padding-bottom: 2rem;
  font-family: "Abril Fatface", cursive;
}
.destination-section > * {
  padding-bottom: 2rem;
  font-family: "Abril Fatface", cursive;
}

.destination-section .des-warp .dest-name,
.tours-section .title-tour p:first-child {
  font-size: 2rem;
  font-weight: 500;
  font-family: "PT Serif", serif;
  color: var(--yellow);
}

.destination-section .des-warp .selection,
.tours-section .title-tour p:last-child,
.why-section .title-why p:first-child {
  font-size: 3em;
  font-family: "Abril Fatface", cursive;
}

.grid-list-column {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.destination-section .grid-list-column .images1,
.destination-section .grid-list-column .images2 {
  /* width: 530px; */
  height: max-content;
  position: relative;
  border-radius: 10px;
  background-color: var(--white);
}

.destination-section .grid-list-three-column .images {
  /* width: 350px; */
  height: max-content;
  position: relative;
}
.grid-list-three-column {
  display: grid;
  column-gap: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: 150px;
  overflow: hidden;
  gap: 2rem;
}
img {
  width: 100%;
}
.destination-section .grid-list-column .images1 img,
.destination-section .grid-list-column .images2 img {
  width: 100%;
  object-fit: cover;
}

.destination-section .grid-list-column .images1:hover,
.destination-section .grid-list-column .images2 :hover,
.destination-section .grid-list-three-column .images:hover {
  transition: 0.15s ease-in;
  transform: scale(1.01);
  cursor: pointer;
}

.destination-section .grid-list-three-column .images img {
  width: 100%;
  overflow: hidden;
}
/* // IMAGES DESCRIPTIONS // */

.destination-section .grid-list-column .images1 .descpt,
.destination-section .grid-list-column .images2 .descpt {
  position: absolute;
  bottom: 30px;
  left: 15px;
  padding: 20px;
}

.destination-section .grid-list-three-column .img3 .descpt,
.destination-section .grid-list-three-column .img4 .descpt,
.destination-section .grid-list-three-column .img5 .descpt {
  position: absolute;
  bottom: 0;
  left: 10px;
  padding: 15px;
}
.destination-section .grid-list-column .images1 .descpt .city,
.destination-section .grid-list-column .images2 .descpt .city,
.destination-section .grid-list-three-column .img3 .descpt .city,
.destination-section .grid-list-three-column .img4 .descpt .city,
.destination-section .grid-list-three-column .img5 .descpt .city {
  font-family: "Sassy Frass", cursive;
  font-style: italic;
  color: var(--yellow);
  font-size: 4rem;
  font-weight: 500;
}

.destination-section .grid-list-column .images1 .descpt .country,
.destination-section .grid-list-column .images2 .descpt .country,
.destination-section .grid-list-three-column .img3 .descpt .country,
.destination-section .grid-list-three-column .img4 .descpt .country,
.destination-section .grid-list-three-column .img5 .descpt .country {
  color: var(--white-1);
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
}
/* //destination section// */

/* tour section */
.tours-section > * {
  padding-bottom: 2rem;
}

.tours-section .title-tour > * {
  padding-bottom: 1.4rem;
}
.tours-section .card-list .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tours-section .card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
}

.tours-section .card-list .card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 30px hsl(0deg 0% 0% / 10%);
}
.tours-section .card-list .card > * {
  padding-bottom: 1rem;
}
.tours-section .card-list .card .rating-price {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.tours-section .card-list .card .price {
  background-color: var(--oxford-blue);
  padding: 10px;
  border-radius: 6px;
  color: white;
  font-family: "Heebo", sans-serif;
}
.tours-section .card-list .card .rate {
  margin-left: 30px;
  background-color: var(--yellow);
  padding: 10px;
  border-radius: 6px;
}
.tours-section .card-list .card .rate i,
.tours-section .card-list .card .rate span {
  color: white;
}

.tours-section .card-list .card .title {
  padding: 1.3rem;
  font-size: 1.3rem;
  color: var(--drak-gray);
  font-weight: 600;
  font-family: "Heebo", sans-serif;
}
.tours-section .card-list .card .title:hover {
  color: var(--oxford-blue);
}

.tours-section .card-list .card .city {
  font-family: "Heebo", sans-serif;
  padding-left: 1.3rem;
  margin-bottom: 20px;
  color: var(--gray);
}

.why-section > * {
  padding-bottom: 2rem;
}
.why-section .title-why p:first-child {
  padding-bottom: 2rem;
}
.why-section .title-why p:last-child {
  padding-bottom: 2rem;
  max-width: 600px;
  text-align: center;
  color: var(--silver);
}
.why-section .card-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
}
.why-section .card-items .card > * {
  padding: 20px;
}
.why-section .card-items .card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 30px hsl(0deg 0% 0% / 10%);
  position: relative;
}
.why-section .card-items .card:hover {
  background-color: var(--teal-blue);
  cursor: pointer;
  color: white;
}
.why-section .card-items .card::after {
  position: absolute;
  content: "";
  background-color: var(--teal-blue);
  height: 4px;
  inset: 0;
}
.why-section .card-items .card h1 {
  padding-block: 3rem;
}
.why-section .card-items .card .title {
  max-width: 250px;
  color: var(--silver);
}
.why-section .card-items .card:hover .title {
  color: white;
  cursor: pointer;
}
.why-section .card-items .card p:last-child {
  align-self: end;
  text-transform: capitalize;
  color: var(--teal-blue);
  margin-bottom: 10px;
}
.why-section .card-items .card:hover p:last-child {
  color: white;
  cursor: pointer;
}

.testamanial-section > * {
  padding-bottom: 2rem;
}
.testamanial-section .title {
  margin-top: 50px;
  font-family: "Abril Fatface", cursive;
}
.testamanial-section .title h1 {
  font-family: "PT Serif", serif;
  line-height: 0.9;
  text-transform: capitalize;
  font-weight: 500;
}

.testamanial-section .card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
  gap: 2rem;
}

.testamanial-section .card-list .card {
  /* width: 440px; */
  padding: 20px;
  box-shadow: 0 10px 30px hsl(0deg 0% 0% / 10%);
}
.testamanial-section .card-list .card .star {
  color: var(--yellow);
  font-size: 0.8rem;
}
.testamanial-section .card-list .card .title {
  font-family: "PT Serif", serif;
  color: var(--silver);
  font-size: 0.8rem;
  margin-top: 15px;
  margin-bottom: 20px;
}

.testamanial-section .card-list .card .profile {
  display: flex;
  align-items: center;
}
.testamanial-section .card-list .card .profile .image {
  margin-right: 20px;
}
.testamanial-section .card-list .card .profile .image img {
  width: 90%;
  object-fit: contain;
}

.testamanial-section .card-list .card .profile .name p {
  font-family: "PT Serif", serif;
  text-transform: capitalize;
}
.testamanial-section .card-list .card .profile .name p:nth-child(1) {
  font-weight: bold;
}
.testamanial-section .card-list .card .profile .name p:nth-child(2) {
  margin-top: 4px;
  color: var(--silver);
  font-size: 0.9rem;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 100px;
  padding-bottom: 20px;
  gap: 2rem;
  font-family: "PT Serif", serif;
}
.footer-top .footer-list > * {
  margin-top: 7px;
  font-family: "PT Serif", serif;
  text-transform: capitalize;
}
.footer-top .footer-list li > * {
  color: #706f6f;
}
.footer-top .name p:nth-child(1) {
  align-self: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
}
.footer-top .name p:nth-child(2) {
  margin-top: 10px;
  align-self: center;
  text-transform: capitalize;
  color: var(--silver);
  font-size: 0.7rem;
}

.footer-top .footer-list .footer-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-bottom {
  margin-block: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom .name {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
}

.footer-bottom .copyri p {
  text-transform: capitalize;
  color: var(--silver);
  font-size: 0.7rem;
}

.footer-bottom .social-icon > * {
  margin-left: 10px;
  padding: 10px;
  border: 0.5px solid #333;
  border-radius: 49%;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
}

.footer-bottom .social-icon > *:hover {
  background-color: rgb(95, 255, 80);
  border: none;
  color: #fff;
}

@media (min-width: 690px) and (max-width: 999px) {
  .header-nav .title {
    font-size: 1.6em;
  }
  .navigation li {
    font-size: 1em;
    display: none;
  }
  .header-nav .booking-btn {
    padding: 9px 18px;
    border-radius: 4px;
  }
  .hero .info h2 {
    font-size: 2em;
  }
  .hero {
    height: 74vh;
  }
  .hero .grid-list .info {
    border-radius: 30px;
    padding: 10px;
  }

  .destination-section .des-warp .selection,
  .tours-section .title-tour p:last-child,
  .why-section .title-why p:first-child {
    font-size: 1.9em;
  }
  .grid-list-three-column {
    grid-template-rows: 100px;
  }

  .tours-section .card-list .card:nth-child(3) {
    justify-self: center;
  }
}

/* Small Tablet styles */
@media (min-width: 500px) and (max-width: 690px) {
  .navigation li {
    display: none;
  }
  .header-nav .title {
    font-size: 1.4em;
  }

  .header-nav .booking-btn {
    padding: 6px 13px;
    border-radius: 4px;
  }

  .header-nav {
    padding: 1rem 3rem;
  }
  .hero {
    height: 57vh;
  }
  .hero .info h2 {
    font-size: 1.4em;
    text-align: center;
  }

  .hero .grid-list .info {
    border-radius: 20px;
    /* padding: 6px; */
  }

  .destination-section .des-warp .dest-name,
  .tours-section .title-tour p:first-child {
    font-size: 1.4rem;
  }

  .destination-section .des-warp .selection,
  .tours-section .title-tour p:last-child,
  .why-section .title-why p:first-child {
    font-size: 1.4em;
  }

  .grid-list-column {
    grid-template-columns: 1fr;
  }

  .grid-list-three-column {
    grid-template-columns: auto auto;
  }
  .footer-bottom .name {
    font-size: 1rem;
  }
  .footer-bottom .social-icon > * {
    padding: 6px;
    font-size: 8px;
  }
}

/* For Mobile styles */
@media (min-width: 1px) and (max-width: 500px) {
  .header-nav {
    padding: 1rem 1rem;
  }
  .navigation li {
    display: none;
  }

  .header-nav .title {
    font-size: 1em;
  }
  .header-nav .booking-btn {
    padding: 3px 3px;
    border-radius: 4px;
  }
  .hero {
    height: 25vh;
  }

  .hero .info h2 {
    font-size: 0.3em;
    /* text-align: center; */
  }
  .hero .grid-list .info {
    border-radius: 10px;
    /* padding: 6px; */
  }
  .destination-section .des-warp .dest-name,
  .tours-section .title-tour p:first-child {
    font-size: 1rem;
  }

  .destination-section .des-warp .selection,
  .tours-section .title-tour p:last-child,
  .why-section .title-why p:first-child {
    font-size: 1em;
  }
  .grid-list-column {
    grid-template-columns: 1fr;
  }

  .grid-list-three-column {
    display: none;
    grid-template-columns: auto;
  }
  .tours-section .card-list .card .price {
    background-color: var(--oxford-blue);
    padding: 7px;
    border-radius: 6px;
    color: white;
    font-family: "Heebo", sans-serif;
  }

  .tours-section .card-list .card .rate {
    margin-left: 30px;
    padding: 5px;
    border-radius: 6px;
  }
  .tours-section .card-list .card .rate i {
    color: white;
    font-size: 12px;
  }

  .tours-section .card-list .card .rate span {
    display: none;
  }

  .tours-section .card-list .card .title {
    padding: 1.3rem;
    font-size: 1rem;
  }
  .testamanial-section .card-list .card .title {
    font-size: 0.6rem;
  }
  .testamanial-section .card-list .card {
    width: 100%;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 10px;
  }
}
